@import 'tailwindcss';

@plugin '@egoist/tailwindcss-icons' {
  scale: 1.2;
}

html,
body,
#root {
  height: 100%;
}

@layer components {
  .btn {
    @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-lg border border-white/30 bg-white/20 px-6 py-3 font-medium text-white backdrop-blur-sm transition-all duration-200 hover:scale-105 hover:bg-white/30 active:scale-95;
  }

  .btn-copy {
    @apply inline-flex cursor-pointer items-center justify-center rounded-lg bg-white/20 p-2 text-white transition-all duration-200 hover:bg-white/30 active:scale-95;
  }
}
